
.title {
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    .image-logo-container {
        position: relative;
        overflow: hidden;

        margin-left: -12px;
        margin-right: -12px;

        img {
            max-width: 50%;
            position: relative;
        }

        .balken {
            background-color: white;
            width: 50%;
            height: calc(100% * 4);
            top: -100%;
            left: 25%;
            position: absolute;
            margin: auto;
            filter: blur(80px);
            //transform: rotate(-15deg);

            &.dark {
                background-color: #212121;
            }
        }

        
    }
    
    &.mobile {
        > .image-logo-container {
            > img {
                max-width: 100%;

            }

            .balken {
                width: 90%;
                left: 5%;
                filter: blur(40px);

            }
        }
    }
    

    .text {
        margin-top: 32px;
    }

   
}

.title-container {
    min-height: calc(100vh - 64px);
    position: relative;
    overflow: hidden;

}

.title-container-bg {
    background-image: url("../../assets/landing/red-1.jpg");
    height: 100%;
    position: absolute;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: contrast(50%) brightness(75%);
   
}

.row {
    div {
        mat-card {
            margin: 16px 8px;
        }  
    }
}

.subsubtitle {
    margin-top: 32px;
    margin-bottom: 32px;

}

.second-photo {
    background-image: url("../../assets/landing/ladeding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    //min-height: calc(33vh - 64px);
}

.make-me-space {
    margin-top: 32px;
    margin-bottom: 32px;
}

.title-text {
    color: white;
}