<div class="container-fluid">
    <div class="row justify-content-center title-container align-items-center">
           <div [ngClass]="{'dark': dark}" class="title-container-bg"><br></div>
           <div class="title col" [ngClass]="{'mobile': (isHandset$ | async), 'dark': dark}">
                 <div class="image-logo-container">
                     <div class="balken" [ngClass]="{'dark': dark}"> </div>
                    <img src="assets/logo/logo.png" alt="logo"/>
                 </div>
                 <br>
                 <div class="text title-text">
                    <h1 i18n="main-title">Globaldischarge - das Videoprojekt</h1>
                    <h2 *ngIf="false">Die Frage ob E-Mobilität wirklich so Grün ist wie diese vermarktet wird, und ob bessere Alternativen unterschätzt sind?</h2>
                 </div>
                 
            </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="subsubtitle">
                <h2 i18n>Die Frage ob E-Mobilität wirklich so Grün ist wie diese vermarktet wird, und ob bessere Alternativen unterschätzt sind?</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 second-photo"></div>
        <div class="col">
        </div>
    </div>
</div>
<div class="container make-me-space cards">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10 col-12">
            <mat-card>
                <mat-card-header>
                 <mat-card-title i18n>Unser Team!</mat-card-title>
                <mat-card-subtitle i18n>Wer sind wir?</mat-card-subtitle>

                </mat-card-header>
                <img mat-card-image alt="team photo" src="assets/landing/red-2.jpg">
                <mat-card-content>
                <p i18n>
                    Wir das Team von Globaldischarged stellen uns vor.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <a [routerLink]="['/team']" mat-button i18n>MEHR INFOS</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-12">
            <mat-card>
                <mat-card-header>
                <mat-card-title i18n>Der Film</mat-card-title>
                <mat-card-subtitle i18n>Um was geht es überhaupt?</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image alt="random travel pic" src="assets/landing/travel.jpg">
                <mat-card-content>
                <p i18n>
                    Wir wollen die Zuschauer über das und das Thema zum nachdenken Bringen
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button i18n mat-button>UNSER PLAN (kommt bald)</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-12">
            <mat-card>
                <mat-card-header>
                <mat-card-title i18n>Willst du uns unerstützen?</mat-card-title>
                <mat-card-subtitle i18n>So geht das! :)</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image alt="support" src="assets/landing/donate.jpg">
                <mat-card-content>
                <p i18n>

                </p>
                </mat-card-content>
                <mat-card-actions>
                <button i18n color="primary" [routerLink]="['/support']" mat-raised-button>MONEYPOOL</button>
                <button i18n color="primary" [routerLink]="['/merch']" mat-raised-button>MERCH</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>