@import '../theme.scss';

nav-title {
    font-variant-caps: titling-caps;
    font-weight: 300;
    font-size: larger;
    text-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.25);
    letter-spacing: 1em;
    
    &.mobile {
        font-size: large;
        letter-spacing: 0.25em;
    }
}

.mobile {
    letter-spacing: 0em;
}

.main {
    height: 100%;
}

.active {
    background-color: #4caf50;
    color: white;
   
}