<div class="main" [ngClass]="{'vader': isDarkMode}">
<app-navigation (darkModeToggle)="darkModeToggle()">
    <nav-list>
        <a mat-list-item i18n [routerLink]="['/home']"      routerLinkActive="active">Home</a>
        <a mat-list-item i18n [routerLink]="['/team']"      routerLinkActive="active">Team</a>
        <a mat-list-item i18n [routerLink]="['/contact']"   routerLinkActive="active">Kontakt</a>
        <a mat-list-item i18n [routerLink]="['/merch']"     routerLinkActive="active">Merchendise</a>
        <a mat-list-item i18n [routerLink]="['/support']"   routerLinkActive="active">Unterstützt uns! ♥</a>
        <a mat-list-item i18n [routerLink]="['/imprint']"   routerLinkActive="active">Impressum</a>
    </nav-list>
    <nav-title [ngClass]="{'mobile': (isHandset$ | async)}">
        <span>
        &ensp;GLOBAL DISCHARGE
        </span>
    </nav-title>
    <router-outlet>
    </router-outlet>

    <mat-toolbar color="primary">
        <div class="footer-links">
            <a href="" mat-icon-button><mat-icon>facebook</mat-icon></a>
            <a href="mailto:office@globaldischarge.at" mat-button><mat-icon>mail</mat-icon> office@globaldischarge.at</a>
        </div>
    </mat-toolbar>
</app-navigation>
</div>