.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: relative;
  top: 0;
  z-index: 1;

  &.mobile {
    position: sticky;

  }
}

.toolbar-mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

}

.toolbar {
  display: flex;
  justify-content: center;
  &.mobile {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.sidenav-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.nav-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
