/* You can add global styles to this file, and also import other style files */
 @import "./theme.scss";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    color: #01579b;
}

::selection {
    background: #ff7043; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: #ff7043; /* Gecko Browsers */
}
