
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$globaldischarge-primary: mat-palette($mat-green);
$globaldischarge-accent: mat-palette($mat-light-blue, 900);

// The warn palette is optional (defaults to red).
$globaldischarge-warn: mat-palette($mat-deep-orange, 400);


 // Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$globaldischarge-light-theme: mat-light-theme((
    color: (
      primary: $globaldischarge-primary,
      accent: $globaldischarge-accent,
      warn: $globaldischarge-warn,
    )
  ));
  
$globaldischarge-dark-theme: mat-dark-theme((
  color: (
    primary: $globaldischarge-primary,
    accent: $globaldischarge-accent,
    warn: $globaldischarge-warn,
  )
));

  
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($globaldischarge-light-theme);
  
  ::ng-deep .vader * {
    @include angular-material-theme($globaldischarge-dark-theme);

    a {
      color: #03a9f4;
    }


    .mat-card {
      background-color: #303030;
    }

    .mat-sidenav {
      background-color: #212121;
    }

    .mat-sidenav-content {
      background-color: #212121;
    }
  }
